In [78]:
import pandas as pd

# df = pd.read_excel('TotalSearchResults.xlsx')
# df2 = pd.read_excel('TotalSearchResults (4).xlsx')
df2 = pd.read_csv('info.csv')
# df4= pd.read_excel('new_df.xlsx')

In [13]:
df2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,008790-1680,https://paopropertysearch.coj.net/Detail.aspx?...,LEAL MICHAEL,1486.0,KNUDSON,DR,,,Jacksonville,32221
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,155643-5497,https://paopropertysearch.coj.net/Detail.aspx?...,KAMMERER ROBERT III,10395.0,TRIPLE CROWN,AVE,,,Jacksonville,32257
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,116836-0000,https://paopropertysearch.coj.net/Detail.aspx?...,FILLINGAME TERESA IRENE,6544.0,SHADY OAK,DR,,,Jacksonville,32277-
...,...,...,...,...,...,...,...,...,...,...
201467,\n\t\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201468,\n\t\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201469,\n\t\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201470,\n\t\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201471,\n\t\t\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.drop_duplicates(inplace=True, keep='first')

In [33]:
df['Street Number'] = df['Street Number'].astype('int')

In [22]:
df.Zip = df.Zip.str.strip('-')

In [34]:
df.sort_values(by=['Street Name','Street Number','Unit', 'Zip'], inplace=True)

In [36]:
df.to_csv('Jacksonville.csv', index=False)

In [42]:
df.groupby('Street Name').count()['Name'].sort_values(ascending=False)

Street Name
GATE          1492
BAYMEADOWS    1116
BEACH          947
TOUCHTON       917
ATLANTIC       847
              ...
COX              1
MESSINA          1
COXWELL          1
MERRIMAC         1
ZION             1
Name: Name, Length: 2972, dtype: int64

In [5]:
df.columns = (
            "Real Estate Number",
            "Property URL",
            "Name",
            "Street Number",
            "Street Name",
            "Type",
            "Direction",
            "Unit",
            "City",
            "Zip",
        )

In [8]:
main_df.drop_duplicates(inplace=True)

In [12]:
main_df.columns

Index(['Url', 'Zestimate', 'Price', 'Rent Zestimate', 'Days On Zillow',
       'Bathrooms', 'Bedrooms', 'Living Area', 'Lot Size', 'Home Type',
       'Street Address', 'City', 'Zip', 'State', 'Country', 'Broker Name',
       'Has 3D Model', 'Has Image', 'Has Video', 'isZillowOwned', 'sgapt',
       'statusText', 'statusType'],
      dtype='object')

In [11]:
main_df.to_csv('jacksonville.csv',index=False)

In [14]:
main_df[['Street Address', 'Zip']].values

array([['1486 KNUDSON DR', 32221],
       ['10395 Triple Crown Ave', 32257],
       ['6544 SHADY OAK DR', 32277],
       ...,
       ['2217 MANEY DR', 32216],
       ['8404 MALAGA AVE', 32244],
       ['4220 Lane Ave S', 32210]], dtype=object)

In [77]:
owner_df = pd.read_csv('owner_info.csv')
owner_df

,Real Estate Number,Property URL,Name,Street Number,Street Name,Type,Direction,Unit,City,Zip
0,008790-1680,https://paopropertysearch.coj.net/Detail.aspx?...,LEAL MICHAEL,1486.0,KNUDSON,DR,,,Jacksonville,32221
1,155643-5497,https://paopropertysearch.coj.net/Detail.aspx?...,KAMMERER ROBERT III,10395.0,TRIPLE CROWN,AVE,,,Jacksonville,32257
2,116836-0000,https://paopropertysearch.coj.net/Detail.aspx?...,FILLINGAME TERESA IRENE,6544.0,SHADY OAK,DR,,,Jacksonville,32277-
3,069145-0000,https://paopropertysearch.coj.net/Detail.aspx?...,NV PROPERTY HOLDINGS LLC,4322.0,WOODMERE,ST,,,Jacksonville,32210
4,146845-0000,https://paopropertysearch.coj.net/Detail.aspx?...,PANICHELLO JESSICA MILLAN,6306.0,MERCER,CIR,E,,Jacksonville,32217
...,...,...,...,...,...,...,...,...,...,...
8491,167746-1890,https://paopropertysearch.coj.net/Detail.aspx?...,VINOD MANDAR,11712.0,BLACKSTONE RIVER,DR,,,Jacksonville,32256
8492,167744-1300,https://paopropertysearch.coj.net/Detail.aspx?...,CROWTHERS WILL R IV,7865.0,JAMES ISLAND,TRL,,,Jacksonville,32256
8493,167744-1550,https://paopropertysearch.coj.net/Detail.aspx?...,CHEN CHARLES Y,7839.0,JAMES ISLAND,WAY,,,Jacksonville,32256
8494,167744-1220,https://paopropertysearch.coj.net/Detail.aspx?...,HASSAN GEORGE,7804.0,JAMES ISLAND,TRL,,,Jacksonville,32256
8495,097233-0000,https://paopropertysearch.coj.net/Detail.aspx?...,JANSEN LAUREL A,7915.0,RENAULT,DR,S,,Jacksonville,32244

In [21]:
owner_df2.dropna(inplace=True)

In [65]:
' '.join(['NINA', 'S', None, ..., None, None, None])

TypeError: sequence item 2: expected str instance, NoneType found

In [74]:
df['Last Name'] = df.Name.apply(lambda x: str_split(x))

In [73]:
def str_split(x):
    split = x.split()

    return split[0]

In [76]:
df.columns

Index(['Real Estate Number', 'Property URL', 'Name', 'Street Number',
       'Street Name', 'Type', 'Direction', 'Unit', 'City', 'Zip', 'First Name',
       'Last Name'],
      dtype='object')

In [53]:
df.drop(columns=[('First', 'Last')], inplace=True)

In [79]:
df.columns = ['Real Estate Number', 'Property URL', 'Name', 'Last Name', 'First Name','Street Number','Street Name', 'Type', 'Direction', 'Unit', 'City', 'Zip' ]

Index(['Real Estate Number', 'Property URL', 'Name', 'Street Number',
       'Street Name', 'Type', 'Direction', 'Unit', 'City', 'Zip', 'First Name',
       'Last Name'],
      dtype='object')

In [57]:
df

,Real Estate Number,Property URL,Name,Street Number,Street Name,Type,Direction,Unit,City,Zip
2111,071974-0000,https://paopropertysearch.coj.net/Detail.aspx?...,FARMER NINA S,38,10TH,ST,W,,Jacksonville,32206
165004,071997-0000,https://paopropertysearch.coj.net/Detail.aspx?...,ACAMPORA MICHAEL,122,10TH,ST,W,,Jacksonville,32206
945,051744-0000,https://paopropertysearch.coj.net/Detail.aspx?...,LEE DARRYELL,1920,10TH,ST,W,,Jacksonville,32209
2014,036948-0000,https://paopropertysearch.coj.net/Detail.aspx?...,FAIR PRICE PROPERTIES LLC,9040,10TH,AVE,,,Jacksonville,32208
178160,104099-0000,https://paopropertysearch.coj.net/Detail.aspx?...,RESIDENTIAL HOME BUYER JACKSONVILLE LLC,5152,110TH,ST,,,Jacksonville,32244
...,...,...,...,...,...,...,...,...,...,...
2451,067192-0000,https://paopropertysearch.coj.net/Detail.aspx?...,COTTON FREDERICK DAVID III,5117,YERKES,ST,,,Jacksonville,32205
1131,004325-1075,https://paopropertysearch.coj.net/Detail.aspx?...,BREEDEN TERRY C,11533,YOUNG,RD,,,Jacksonville,32218
1428,108407-0220,https://paopropertysearch.coj.net/Detail.aspx?...,WAGNER NOEL,14597,ZACHARY,DR,S,,Jacksonville,32218
991,108407-0055,https://paopropertysearch.coj.net/Detail.aspx?...,PEGG JOHN CHRISTOPHER,14612,ZACHARY,DR,,,Jacksonville,32218
87588,127249-0000,https://paopropertysearch.coj.net/Detail.aspx?...,IRREVOCABLE TRUST FBO JOSEPH C KLEIN ET AL,3847,ZION,RD,,,Jacksonville,32207

In [45]:
full_df.drop_duplicates(inplace=True, keep='first')

In [42]:
full_df.columns = (
            "Real Estate Number",
            "Property URL",
            "Name",
            "Street Number",
            "Street Name",
            "Type",
            "Direction",
            "Unit",
            "City",
            "Zip",
        )

In [47]:
full_df.to_csv('owner_info.csv', index=False)

In [36]:
df.to_excel('new_df.xlsx', index=False)

In [22]:
df[['Street Address', 'Zip']].values

array([['2937 TINSLEY RD', 32218],
       ['885 CORSICA LN', 32218],
       ['5235 ANGEL LAKE DR', 32218],
       ...,
       ['7800 Point Meadows Dr APT 921', 32256],
       ['7915 RENAULT DR', 32244],
       ['2314 Eagle Perch Pl', 32003]], dtype=object)

In [23]:
import pandas as pd

df = pd.read_excel("TotalSearchResults.xlsx")
for street_add, zip in df[['Street Address', 'Zip']].values:
    street_no = street_add.split()[0]
    street_name = ' '.join(street_add.split()[1:-1])
    print(street_no)
    print(street_name)
    print(street_add)
    print(zip)

1486
KNUDSON
1486 KNUDSON DR
32221
10395
Triple Crown
10395 Triple Crown Ave
32257
6544
SHADY OAK
6544 SHADY OAK DR
32277
4322
WOODMERE
4322 WOODMERE ST
32210
6306
MERCER CIR
6306 MERCER CIR E
32217
2937
TINSLEY
2937 TINSLEY RD
32218
4822
PLAYPEN
4822 PLAYPEN DR
32210
14511
N LUTH
14511 N LUTH DR
32250
885
CORSICA
885 CORSICA LN
32218
5763
TEMPEST
5763 TEMPEST ST
32244
6130
FIRESTONE
6130 FIRESTONE RD
32244
13481
LONG CYPRESS
13481 LONG CYPRESS TRL
32223
6119
FIRESTONE
6119 FIRESTONE RD
32244
7907
DAWSONS CREEK
7907 DAWSONS CREEK DR
32222
4407
THICKET RIDGE
4407 THICKET RIDGE LN
32258
12561
Bent Bay
12561 Bent Bay Trl
32224
12152
CATTAIL
12152 CATTAIL LN
32223
8165
NEWPORT
8165 NEWPORT RD
32244
5715
WILTSHIRE
5715 WILTSHIRE ST
32211
2448
BLACKBEARD
2448 BLACKBEARD DR
32224
783
GREELAND
783 GREELAND AVE
32221
96
BRADFORD LAKE
96 BRADFORD LAKE CIR
32218
5235
ANGEL LAKE
5235 ANGEL LAKE DR
32218
2419
PEG LEG
2419 PEG LEG RD
32224
2234
RIVER ROAD
2234 RIVER ROAD RD
32207
4154
NAKEMA DR
4154 NAKEMA DR S
32257
13306
GILLESPIE
13306 GILLESPIE AVE
32218
2704
LORETTO
2704 LORETTO RD
32223
7805
BAYMEADOWS CIR
7805 BAYMEADOWS CIR W
32256
1226
MCGIRTS CREEK DR
1226 MCGIRTS CREEK DR W
32221
110
KIWI PALM
110 KIWI PALM CT
32081
4480
Deerwood Lake Pkwy UNIT
4480 Deerwood Lake Pkwy UNIT 422
32216
7632
PILGRIMS TRACE
7632 PILGRIMS TRACE DR
32244
3355
DOROTHEA
3355 DOROTHEA RD
32216
4325
BUCK POINT
4325 BUCK POINT RD
32210
3512
WATERCHASE WAY
3512 WATERCHASE WAY E
32224
4143
FERBER
4143 FERBER RD
32277
2340
THE WOODS
2340 THE WOODS DR
32246
5408
WINDERMERE
5408 WINDERMERE DR
32211
6952
RAMOTH
6952 RAMOTH DR
32226
744
TOWERING PINES
744 TOWERING PINES DR
32220
5590
LA MOYA
5590 LA MOYA AVE
32210
6998
SAN FERNANDO
6998 SAN FERNANDO PL
32217
7695
ROLLING HILLS
7695 ROLLING HILLS DR
32221
8444
GRAYLING
8444 GRAYLING DR
32256
10435
MIDTOWN PKWY UNIT
10435 MIDTOWN PKWY UNIT 126
32246
10315
WALNUT BEND
10315 WALNUT BEND N
32257
1902
SIDEWHEEL
1902 SIDEWHEEL WAY
32223
1203
GRANDVIEW
1203 GRANDVIEW DR
32211
5371
CHESTNUT LAKE
5371 CHESTNUT LAKE DR
32258
11672
SANDS
11672 SANDS AVE
32246
6821
CABALLERO
6821 CABALLERO CT
32217
5340
GATHERING OAKS CT
5340 GATHERING OAKS CT E
32258
764
ESTATES COVE
764 ESTATES COVE RD
32221
4919
ORTEGA FOREST
4919 ORTEGA FOREST DR
32210
13025
OLD ST AUGUSTINE
13025 OLD ST AUGUSTINE RD
32258
111
E 54TH
111 E 54TH ST
32208
11194
MIKRIS DR
11194 MIKRIS DR N
32225
6720
RHODE ISLAND DR
6720 RHODE ISLAND DR E
32209
366
AUBURN OAKS
366 AUBURN OAKS RD
32218
1324
PLACID
1324 PLACID PL
32205
1329
Cedar Bay
1329 Cedar Bay RD
32218
10312
SCOTT MILL
10312 SCOTT MILL RD
32257
3918
LA MIRADA DR N UNIT
3918 LA MIRADA DR N UNIT 1
32217
14699
MOORE BRANCH
14699 MOORE BRANCH RD
32234
5851
LAS COUNTS
5851 LAS COUNTS CT
32222
3670
SPINNAKER
3670 SPINNAKER CT
32277
7262
SAN PEDRO
7262 SAN PEDRO RD
32217
3482
SIMCA DR
3482 SIMCA DR W
32277
4971
SCENIC MARSH
4971 SCENIC MARSH CT
32226
3913
YARBOROUGH
3913 YARBOROUGH DR
32277
1621
DONALD
1621 DONALD ST
32205
13031
NORMEDS
13031 NORMEDS RD
32223
3338
SUNNYSIDE
3338 SUNNYSIDE DR
32207
4006
ORTEGA FOREST
4006 ORTEGA FOREST DR
32210
3931
BARCELONA
3931 BARCELONA AVE
32207
1146
PEBBLE RIDGE
1146 PEBBLE RIDGE DR
32220
1301
RIVERBIRCH
1301 RIVERBIRCH LN
32207
3338
RIVERSIDE
3338 RIVERSIDE AVE
32205
4708
PRINCE EDWARD
4708 PRINCE EDWARD RD
32210
18002
BRANDY BRANCH
18002 BRANDY BRANCH RD
32234
814
GRANADA BLVD
814 GRANADA BLVD S
32207
8488
Hipps
8488 Hipps RD
32244
927
ARBOR
927 ARBOR LN
32207
2700
LAKE SHORE
2700 LAKE SHORE BLVD
32210
705
GRANADA BLVD
705 GRANADA BLVD S
32207
4424
KELNEPA
4424 KELNEPA DR
32207
3973
ALHAMBRA DR
3973 ALHAMBRA DR W
32207
5012
YACHT CLUB
5012 YACHT CLUB RD
32210
14665
Diamond Ranch
14665 Diamond Ranch Dr
32234
17353
W BEAVER
17353 W BEAVER ST
32234
6982
GARDEN
6982 GARDEN ST
32219
8063
APPIAN
8063 APPIAN WAY
32208
401
CLAUDIA
401 CLAUDIA DR
32218
8244
LAKE WOODBOURNE DR
8244 LAKE WOODBOURNE DR W
32217
1103
CEDAR BAY
1103 CEDAR BAY RD
32218
1262
OVINGTON RD
1262 OVINGTON RD S
32216
11634
MARSH ELDER
11634 MARSH ELDER DR
32226
2423
GREEN OAK
2423 GREEN OAK DR
32211
14630
TIKI LN UNIT
14630 TIKI LN UNIT 1
32226
10903
HOUNDWELL
10903 HOUNDWELL WAY
32225
6303
TERRY PARKER DR
6303 TERRY PARKER DR N
32211
3353
Secret Isle
3353 Secret Isle Ln
32225
9446
HECKSCHER
9446 HECKSCHER DR
32226
13810
LONGS LANDING RD
13810 LONGS LANDING RD E
32225
13639
QUEENS HARBOR
13639 QUEENS HARBOR BLVD
32225
2336
PINE ISLAND
2336 PINE ISLAND CT
32224
999
CABO BLANCO AVE
999 CABO BLANCO AVE E
32233
13649
MARSH HARBOR DR
13649 MARSH HARBOR DR N
32225
13711
SAXON LAKE
13711 SAXON LAKE DR
32225
14254
MT PLEASANT
14254 MT PLEASANT RD
32225
13733
SANDY CREEK
13733 SANDY CREEK DR
32224
4480
DEERWOOD LAKE PKWY UNIT
4480 DEERWOOD LAKE PKWY UNIT 126
32216
13829
CYRUS
13829 CYRUS CT
32224
13651
MYRICA
13651 MYRICA CT
32224
11205
TURNBRIDGE
11205 TURNBRIDGE DR
32256
11835
MAGNOLIA FALLS
11835 MAGNOLIA FALLS DR
32258
10234
CYPRESS LAKES
10234 CYPRESS LAKES DR
32256
7662
WEXFORD CLUB DR
7662 WEXFORD CLUB DR W
32256
4551
CARRIAGE CROSSING
4551 CARRIAGE CROSSING DR
32258
3050
JULINGTON CREEK
3050 JULINGTON CREEK RD
32223
2916
SCOTT MILL
2916 SCOTT MILL LN
32223
5317
COMMISSIONERS
5317 COMMISSIONERS DR
32224
6816
SAN SABASTIAN
6816 SAN SABASTIAN AVE
32217
5147
DIXIE LANDING
5147 DIXIE LANDING DR
32224
3600
DARNALL
3600 DARNALL PL
32217
7884
MONTEREY BAY
7884 MONTEREY BAY DR
32256
4580
JULINGTON CREEK
4580 JULINGTON CREEK RD
32258
7008
EPPING FOREST
7008 EPPING FOREST TER
32217
11131
BIRKDALE
11131 BIRKDALE CT
32256
10355
ILAH
10355 ILAH RD
32257
3233
MARBON
3233 MARBON RD
32223
2859
FOREST
2859 FOREST CIR
32257
10158
WINDWARD WAY
10158 WINDWARD WAY N
32256
3809
VICKERS LAKE
3809 VICKERS LAKE DR
32224
13101
CRICKET COVE RD
13101 CRICKET COVE RD N
32224
6724
EPPING FOREST WAY
6724 EPPING FOREST WAY N
32217
1982
CAMELLIA OAKS
1982 CAMELLIA OAKS LN
32217
6202
CREETOWN
6202 CREETOWN DR
32216
6202&6213
CREETOWN
6202&6213 CREETOWN DR
32216
14600
SAN PABLO DR
14600 SAN PABLO DR N
32224
13437
STANTON
13437 STANTON DR
32225
1370
MOSS CREEK
1370 MOSS CREEK DR
32225
1347
WINDSOR HARBOR
1347 WINDSOR HARBOR DR
32225
0
SHIPWATCH
0 SHIPWATCH DR
32225
2422
MARBLE
2422 MARBLE DR
32211
6944
RAMOTH
6944 RAMOTH DR
32226
6656
RAMOTH
6656 RAMOTH DR
32226
9294
Heckscher
9294 Heckscher Dr
32226
5298
CLAPBOARD COVE
5298 CLAPBOARD COVE CT
32226
5226
CLAPBOARD COVE
5226 CLAPBOARD COVE CT
32226